.slide {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;

  .list-container {
    display: flex;

    ul {
      text-align: left;

      li {
        margin-bottom: 0.5em;
      }
    }
  }

  pre {
    margin: 0.3em 0;
  }

  code {
    font-size: 0.6em;
    text-align: left;
  }

  .pure-g {

    .column-container {
      padding: 0 2em;
    }
  }

  h1, h2 {
    margin-top: 0.1em;
  }

  .no-dot-list {
    list-style: none;
  }

  .alt-color-list {
    li:nth-child(odd) {
      color: #16a7dc;
    }
  }

  .hide {
    opacity: 0;
  }

  .internal-slide-animation {
    & > div {
      position: absolute;
      width: 85vw;
      box-sizing: border-box;
    }
  }
}
