.eg-slide {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;

  .list-container {
    display: flex;

    ul {
      text-align: left;
    }
  }

  .no-dot-list {
    list-style: none;
  }

  .snippet  {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .eg-code-block {
      display: flex;
      justify-content: center;
      font-size: 27px;
    }
  }
}
