.slide {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;

  .list-container {
    display: flex;

    ul {
      text-align: left;

      li {
        margin-bottom: 0.5em;
      }
    }
  }

  .pure-g {

    .column-container {
      padding: 0 2em;
    }
  }

  h1, h2 {
    margin-top: 0.1em;
  }

  .no-dot-list {
    list-style: none;
  }
}
